
.table-container {
    margin-top: 1rem;
    padding: 1rem;

    .button-add {
        margin: 3rem 5rem 3rem 1rem;
        padding: 0.5rem;
        color: #fff;
        background-color: cornflowerblue;
        border-radius: 5%;
    }

    table {
        margin-top: 1rem;
    }
}